#story {
  display: none;
  }

.border {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 2em;

}

h1 {
  font-size: 5em;
  /*color: #993300;*/
}

body {
  background-color: #666699;
}

h5 {
  font-size: 0.6em;
  color:#ccffff;
}
